# Crypto Data

In [9]:
# Import dependencies
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

In [10]:
# Importing csv into dataframe
csv_file = "./Resources/crypto-markets.csv"
crypto_data = pd.read_csv(csv_file, encoding='cp1252')
crypto_data.head(5)

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

In [23]:
# CRYPTO

# Split column to extract a Year
crypto_data['date'] = pd.to_datetime(crypto_data.date)
crypto_data['year'] = crypto_data.date.dt.year

# Choose the relevant columns
crypto_data = crypto_data[['name', 'symbol', 'date', 'year', 'open', 'high', 'low', 'close', 'volume', 'market', 'close_ratio', 'spread']]

# Choose the relevant data
crypto_data = crypto_data[crypto_data['name'].isin(['Bitcoin', 'Ethereum','Litecoin', 'Ripple', 'Bitcoin Cash', 'EOS', 'Binance', 'Bitcoin SV', 'Stellar', 'Cardano', 'Dash', 'Monero'])]
crypto_data = crypto_data.reset_index()
crypto_data.head()

,index,name,symbol,date,year,open,high,low,close,volume,market,close_ratio,spread
0,0,Bitcoin,BTC,2013-04-28,2013,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,1,Bitcoin,BTC,2013-04-29,2013,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,2,Bitcoin,BTC,2013-04-30,2013,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,3,Bitcoin,BTC,2013-05-01,2013,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,4,Bitcoin,BTC,2013-05-02,2013,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

In [12]:
# BITCOIN

bitcoin_data = crypto_data.loc[(crypto_data["name"] == 'Bitcoin'),:]
bitcoin_data.head()

,index,name,symbol,date,year,open,high,low,close,volume,market,close_ratio,spread
0,0,Bitcoin,BTC,2013-04-28,2013,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,1,Bitcoin,BTC,2013-04-29,2013,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,2,Bitcoin,BTC,2013-04-30,2013,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,3,Bitcoin,BTC,2013-05-01,2013,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,4,Bitcoin,BTC,2013-05-02,2013,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

In [13]:
# ETHEREUM

ethereum_data = crypto_data.loc[(crypto_data["name"] == 'Ethereum'),:]
ethereum_data.head()

,index,name,symbol,date,year,open,high,low,close,volume,market,close_ratio,spread
2042,3986,Ethereum,ETH,2015-08-07,2015,2.830000,3.540000,2.520000,2.770000,164329.0,166610555.0,0.2451,1.02
2043,3987,Ethereum,ETH,2015-08-08,2015,2.790000,2.800000,0.714725,0.753325,674188.0,45486894.0,0.0185,2.09
2044,3988,Ethereum,ETH,2015-08-09,2015,0.706136,0.879810,0.629191,0.701897,532170.0,42399573.0,0.2901,0.25
2045,3989,Ethereum,ETH,2015-08-10,2015,0.713989,0.729854,0.636546,0.708448,405283.0,42818364.0,0.7706,0.09
2046,3990,Ethereum,ETH,2015-08-11,2015,0.708087,1.130000,0.663235,1.070000,1463100.0,64569288.0,0.8715,0.47

In [14]:
# MONERO

monero_data = crypto_data.loc[(crypto_data["name"] == 'Monero'),:]
monero_data.head()

,index,name,symbol,date,year,open,high,low,close,volume,market,close_ratio,spread
8331,11644,Monero,XMR,2014-05-21,2014,2.47,2.65,1.23,1.60,246540.0,1382563.0,0.2606,1.42
8332,11645,Monero,XMR,2014-05-22,2014,1.59,2.19,1.36,2.10,132918.0,1855608.0,0.8916,0.83
8333,11646,Monero,XMR,2014-05-23,2014,2.05,3.43,2.05,2.96,266852.0,2692180.0,0.6594,1.38
8334,11647,Monero,XMR,2014-05-24,2014,2.92,4.01,2.62,3.70,248028.0,3456658.0,0.7770,1.39
8335,11648,Monero,XMR,2014-05-25,2014,4.04,4.04,2.80,3.14,283545.0,2993339.0,0.2742,1.24

In [19]:
# LITECOIN

litecoin_data = crypto_data.loc[(crypto_data["name"] == 'Litecoin'),:]
litecoin_data.head()

,index,name,symbol,date,year,open,high,low,close,volume,market,close_ratio,spread
5843,5843,Litecoin,LTC,2013-04-28,2013,4.30,4.40,4.18,4.35,0.0,74636938.0,0.7727,0.22
5844,5844,Litecoin,LTC,2013-04-29,2013,4.37,4.57,4.23,4.38,0.0,75388964.0,0.4412,0.34
5845,5845,Litecoin,LTC,2013-04-30,2013,4.40,4.57,4.17,4.30,0.0,74020918.0,0.3250,0.40
5846,5846,Litecoin,LTC,2013-05-01,2013,4.29,4.36,3.52,3.80,0.0,65604596.0,0.3333,0.84
5847,5847,Litecoin,LTC,2013-05-02,2013,3.78,4.04,3.01,3.37,0.0,58287979.0,0.3495,1.03

In [15]:
# BITCOIN CASH

bitcoin_cash_data = crypto_data.loc[(crypto_data["name"] == 'Bitcoin Cash'),:]
bitcoin_cash_data.head()

,index,name,symbol,date,year,open,high,low,close,volume,market,close_ratio,spread
4831,6775,Bitcoin Cash,BCH,2017-07-23,2017,555.89,578.97,411.78,413.06,85013.0,0.0,0.0077,167.19
4832,6776,Bitcoin Cash,BCH,2017-07-24,2017,412.58,578.89,409.21,440.70,190952.0,0.0,0.1856,169.68
4833,6777,Bitcoin Cash,BCH,2017-07-25,2017,441.35,541.66,338.09,406.90,524908.0,0.0,0.3380,203.57
4834,6778,Bitcoin Cash,BCH,2017-07-26,2017,407.08,486.16,321.79,365.82,1784640.0,0.0,0.2679,164.37
4835,6779,Bitcoin Cash,BCH,2017-07-27,2017,417.10,460.97,367.78,385.48,533207.0,0.0,0.1899,93.19

In [16]:
# EOS

EOS_data = crypto_data.loc[(crypto_data["name"] == 'EOS'),:]
EOS_data.head()

,index,name,symbol,date,year,open,high,low,close,volume,market,close_ratio,spread
5326,7270,EOS,EOS,2017-07-01,2017,1.030000,1.07,0.989566,1.01,13613000.0,0.0,0.2540,0.08
5327,7271,EOS,EOS,2017-07-02,2017,0.996521,2.88,0.822648,2.71,320452000.0,0.0,0.9174,2.06
5328,7272,EOS,EOS,2017-07-03,2017,2.720000,5.40,2.630000,4.09,414950016.0,654930711.0,0.5271,2.77
5329,7273,EOS,EOS,2017-07-04,2017,4.100000,4.19,2.930000,3.37,218559008.0,550155157.0,0.3492,1.26
5330,7274,EOS,EOS,2017-07-05,2017,3.360000,3.52,2.730000,3.00,124339000.0,500626422.0,0.3418,0.79

In [17]:
# DASH

dash_data = crypto_data.loc[(crypto_data["name"] == 'Dash'),:]
dash_data.head()

,index,name,symbol,date,year,open,high,low,close,volume,market,close_ratio,spread
9984,14275,Dash,DASH,2014-02-14,2014,0.213899,0.378883,0.213899,0.374024,15422.0,1233615.0,0.9705,0.16
9985,14276,Dash,DASH,2014-02-15,2014,0.331111,0.354461,0.219434,0.314865,21119.0,1046628.0,0.7068,0.14
9986,14277,Dash,DASH,2014-02-16,2014,0.325840,0.459833,0.310345,0.406976,28017.0,1363376.0,0.6464,0.15
9987,14278,Dash,DASH,2014-02-17,2014,0.406039,1.500000,0.402588,1.450000,178618.0,4868772.0,0.9544,1.10
9988,14279,Dash,DASH,2014-02-18,2014,1.180000,1.500000,0.841751,1.040000,160779.0,3494971.0,0.3012,0.66

In [18]:
# BITCOIN SV

bitcoin_SV_data = crypto_data.loc[(crypto_data["name"] == 'Bitcoin SV'),:]
bitcoin_SV_data.head()

,index,name,symbol,date,year,open,high,low,close,volume,market,close_ratio,spread
7885,11198,Bitcoin SV,BSV,2018-11-09,2018,88.30,89.57,50.68,68.75,2585660.0,0.0,0.4646,38.89
7886,11199,Bitcoin SV,BSV,2018-11-10,2018,70.27,98.51,61.19,87.06,4748070.0,0.0,0.6932,37.32
7887,11200,Bitcoin SV,BSV,2018-11-11,2018,87.70,125.11,83.15,113.47,8902820.0,0.0,0.7226,41.96
7888,11201,Bitcoin SV,BSV,2018-11-12,2018,116.45,123.56,104.45,112.06,10779600.0,0.0,0.3982,19.11
7889,11202,Bitcoin SV,BSV,2018-11-13,2018,109.90,208.40,109.30,208.40,20708000.0,0.0,1.0000,99.10

In [19]:
# STELLAR

stellar_data = crypto_data.loc[(crypto_data["name"] == 'Stellar'),:]
stellar_data.head()

,index,name,symbol,date,year,open,high,low,close,volume,market,close_ratio,spread
3253,5197,Stellar,XLM,2014-08-05,2014,0.002976,0.003387,0.002349,0.002440,30316.0,767679.0,0.0877,0.0
3254,5198,Stellar,XLM,2014-08-06,2014,0.002373,0.003402,0.002266,0.002657,35820.0,966370.0,0.3442,0.0
3255,5199,Stellar,XLM,2014-08-07,2014,0.002686,0.003042,0.002455,0.002501,142864.0,1079148.0,0.0784,0.0
3256,5200,Stellar,XLM,2014-08-08,2014,0.002493,0.003243,0.002493,0.002881,93708.0,1260109.0,0.5173,0.0
3257,5201,Stellar,XLM,2014-08-09,2014,0.002884,0.003710,0.002873,0.003481,233579.0,1645185.0,0.7264,0.0

In [20]:
# CARDANO

cardano_data = crypto_data.loc[(crypto_data["name"] == 'Cardano'),:]
cardano_data.head()

,index,name,symbol,date,year,open,high,low,close,volume,market,close_ratio,spread
7906,11219,Cardano,ADA,2017-10-01,2017,0.021678,0.032226,0.017354,0.024969,50068700.0,0.0,0.5120,0.01
7907,11220,Cardano,ADA,2017-10-02,2017,0.024607,0.030088,0.019969,0.025932,57641300.0,628899052.0,0.5893,0.01
7908,11221,Cardano,ADA,2017-10-03,2017,0.025757,0.027425,0.020690,0.020816,16997800.0,539692715.0,0.0187,0.01
7909,11222,Cardano,ADA,2017-10-04,2017,0.020864,0.022806,0.020864,0.021931,9000050.0,568619548.0,0.5494,0.00
7910,11223,Cardano,ADA,2017-10-05,2017,0.021951,0.022154,0.020859,0.021489,5562510.0,557139041.0,0.4865,0.00

In [21]:
# Exporting data to crypto.csv file

crypto_data.to_csv('crypto.csv', index = None, header=True)

# Importing data into the MySQL database

In [22]:
# Creating connection to the local database

connection_string = "bbae461e614197:f1155f19@us-cdbr-iron-east-02.cleardb.net/heroku_a406bf74b9befa3?reconnect=true"
engine = create_engine(f'mysql://{connection_string}')